<!-- <mat-tab-group color="accent" backgroundColor="primary"> -->
<mat-tab-group>
  <!--Dashboard tab-->
  <mat-tab label="Dashboard">
    <h3 class="spacer">Work Items</h3>
    <mat-card class="mat-card-graph">
      <mat-card-title [ngClass]="{ 'custom-card': true }">
        <mat-form-field>
          <mat-label>All Alerts</mat-label>
          <mat-select (click)="$event.stopPropagation()">
            <mat-option>All Open Alert</mat-option>
            <mat-option>All Closed Alert</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-title>
      <mat-card-content>
        <!-- Toolbox START-->
        <mat-form-field class="example-form-field">
          <mat-icon matSuffix>settings</mat-icon>
          <input matInput type="search" placeholder="Filter by all fileds" />
        </mat-form-field>
        <span class="row-spacer">
          <mat-icon>more_horiz</mat-icon>
        </span>
        <span class="row-spacer">
          <mat-icon>sort</mat-icon>
        </span>
        <span class="row-spacer">
          <mat-icon>content_copy</mat-icon>
        </span>
        <span class="row-spacer">
          <mat-icon>content_paste</mat-icon>
        </span>
        <span class="row-spacer">
          <mat-icon>system_update_alt</mat-icon>
        </span>
        <span class="row-spacer">
          <mat-icon>sort</mat-icon>
        </span>
        <span class="row-spacer">
          <mat-icon>content_copy</mat-icon>
        </span>
        <span class="row-spacer">
          <mat-icon>content_paste</mat-icon>
        </span>
        <!-- Toolbox END -->
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <!--Dashboard tab- END -->
  <mat-tab label="Workbench" selectedIndex="3"> Content 2 </mat-tab>
  <mat-tab label="Cases"> Content 3 </mat-tab>
</mat-tab-group>
